<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-6.5.1-web/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <style>
      .center-btn {
          display: grid;
      }
  </style>
    <script>var a = io("http://localhost:3000/users")
    </script>
  </head>
  <body>
    <% if (info == 'yes') { 
     %>
      <script> window.location.href = 'http://localhost:3000/users/manager?page=1&loai=cv';</script>
  <% } else { %>
    <div class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="../images/draw2.webp"
              class="img-fluid" alt="Phone image">
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 p-4">
            <form action="/users/login" method="post" class="border bg-light rounded p-4" onsubmit="return validateForm()">
              <h3 class="mb-5 text-center">Sign up</h3>
              <div class="form-outline mb-4">
                <label class="form-label" for="form1Example13" >Email address</label>
                <input type="email" id="form1Example13" name="username" class="form-control form-control-lg" />       
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="form1Example23">Password</label>
                <input type="password" id="form1Example23" name = "pass" class="form-control form-control-lg" />
                
              </div>
              <button type="submit"  style="background-color: #55ACEE;"  class="btn btn-primary btn-lg btn-block w-100">Sign in</button>   
              <div class="d-flex justify-content-around align-items-center mb-4">
                <a href="/users/forgotpassword" style="margin-top: 10px;">Forgot password?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <% } %>
   
  </body>
</html>
<script>
    function validateForm() {
  var name = document.getElementById('form1Example13').value;
  var email = document.getElementById('form1Example23').value;
  // Kiểm tra xem các trường đã được điền đầy đủ chưa
  if (name == "") {
    alert("Vui lòng điền đầy đủ thông tin");
    document.getElementById('form1Example13').focus()
    return false;
  }
  else if( email == ""){
    alert("Vui lòng điền đầy đủ thông tin");
    document.getElementById('form1Example23').focus()
    return false;
}
  return true;
}
</script>
